<html>
  <head>
    <title>Entry Form</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>
  <body>
    <main>
      <h1>Write your thoughts!</h1>
      <%- include("partials/errors.ejs") %>
      <form
        method="POST"
        id="form-container"
        action="/create"
        aria-label="Whisper submission form"
      >
        <label for="messageUser">Enter your Alias:</label>
        <input
          id="messageUser"
          name="messageUser"
          type="text"
          required
          value="<%= typeof messageUser !== 'undefined' ? messageUser : '' %>"
          aria-required="true"
          placeholder="Enter your Alias..."
          autofocus
        />
        <label for="messageText">Enter your Entry:</label>
        <textarea
          id="messageText"
          name="messageText"
          type="text"
          placeholder="Enter your Entry..."
          required
          aria-required="true"
          cols="33"
          rows="10"
          style="resize: vertical"
        >
<%= typeof messageText !== 'undefined' ? messageText : '' %></textarea
        >
        <button type="submit" aria-label="Seal your secret">
          <span class="material-symbols-outlined" style="font-size: 1rem"
            >lock</span
          >
          Add your Entry
        </button>
      </form>
      <a href="/" class="back-button" aria-label="Return to shadow wall">
        <span class="material-symbols-outlined"> arrow_back </span>
        Go Back to the Message Board
      </a>
    </main>

    <%- include('footer') %>
  </body>
</html>
