<html>
  <head>
    <title>Message Entry</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back"
    />
  </head>
  <body>
    <main>
      <div class="container" aria-label="Whisper revelation container">
        <div class="message-info-container">
          <div class="message-info-card">
            <p class="message-info-text"><%= message.messageText %></p>
            <p class="message-user" aria-label="Veiled author">
              <%= message.messageUser %>
            </p>
            <p aria-label="Shadowed timestamp">
              Entry Submitted At: <%=message.added%>
            </p>
          </div>
        </div>
        <a href="/" class="back-button"
          ><span class="material-symbols-outlined"> arrow_back </span> Go Back
          to the Message Board</a
        >
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
